.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
}

.card {
  background-color: #fff;
  max-width: 282px;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  max-width: 282px;
  max-height: 282px;
}

.card__description {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 18px;
}

.card__like-button {
  background-image: url("../images/heart.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 18px;
  top: 624px;
  left: 228px;
  border: none;
  background-color: #fff;
}

.card__like-button:hover {
  width: 20;
  height: 18;
  top: 624px;
  left: 228px;
  opacity: 50%;
  color: #000;
}

@media screen and (max-width: 568px) {
  .cards {
    padding: 0;
    align-items: center;
    justify-items: center;
  }
}
