.footer {
  padding: 35px 0 60px;
}

.footer__copyright {
  opacity: 1;
  color: #545454;
}

@media screen and (max-width: 880px) {
  .footer {
    padding: 36px;
  }
}

@media screen and (max-width: 480px) {
  .footer__copyright {
    font-size: 14px;
  }
}
