.header {
  padding: 30px;
  max-width: 880px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 880px) {
  .header__logo {
    width: 173px;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 126px;
    height: auto;
  }
}
