.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  grid-gap: 7px 15px;
  align-items: center;
  max-width: 415px;
  margin-right: auto;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  top: 454px;
  left: 177px;
  color: #ffffff;
  grid-area: button;
  border: 1px solid white;
  padding: 0;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 60%;
  color: #ffffff;
  width: 24px;
  height: 24px;
  top: 454px;
  left: 353px;
  border-width: 1px solid #ffffff;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
  top: 341px;
  left: 113px;
  color: #ffffff;
  border: 2px solid #ffffff;
  margin-left: auto;
}

.profile__add-button:hover {
  width: 150px;
  height: 50px;
  top: 341px;
  left: 305px;
  opacity: 60%;
  color: #ffffff;
  border: 2px solid #ffffff;
}

.profile__title {
  font-family: Inter, Arial, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  grid-area: title;
  margin: 0;
  padding: 0;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  max-width: 373px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 727px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
